<div class="header">

    <div class="logo"> <img class="logo" src="./../../assets/img/logo.jpeg" alt=""> </div>

    <div class="text-header">Umvel Cars Inc.</div>




    <mat-drawer #drawer class="example-sidenav" mode="side">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>

    </mat-drawer>






</div>