<app-header></app-header>


<div class="father">
    <div class="menu">
        <img src="" alt="">
        <p>Usuario</p>
        <a mat-button color="primary" [routerLink]="['/sales']">Graficas</a>
        <br>
        <a mat-button color="primary">Clientes</a>
        <br>
        <a mat-button color="primary" [routerLink]="['/authenticate']">Cerrar Sesion</a>
    </div>

    <div class="content">
        <mat-card *ngFor="let users of clients | paginate: page_size:page_number ; let i = index">
            <div>
                <p>Id de cliente: {{users.id}} &nbsp;&nbsp; &nbsp;&nbsp; <img src="{{users.image}}" alt=""></p>
                <p>Nombre: {{users.first_name}}</p>
                <p>Apellido: {{users.last_name}}</p>
                <p>Correo: {{users.email}}</p>
                <p>Genero: {{users.gender}}</p>
            </div>
        </mat-card>
        <br>

        <mat-paginator [length]="clients.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)"></mat-paginator>
    </div>

</div>