 $color: red;
 h1 {
     color: red;
 }
 
 body {
     background-color: grey;
 }
 
 .box-login {
     padding-top: 5%;
     padding-left: 40%;
     justify-content: center;
     align-items: center;
 }
 
 .box-flex {
     display: flex;
 }
 
 .example-container .mat-form-field+.mat-form-field {
     margin-left: 8px;
 }
 
 .example-right-align {
     text-align: right;
 }
 
 input.example-right-align::-webkit-outer-spin-button,
 input.example-right-align::-webkit-inner-spin-button {
     display: none;
 }
 
 input.example-right-align {
     -moz-appearance: textfield;
 }
 
 .example-form {
     min-width: 150px;
     max-width: 500px;
     width: 100%;
 }
 
 .example-full-width {
     width: 100%;
 }
 
 :host {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }
 
 .example-form {
     min-width: 150px;
     max-width: 500px;
     width: 100%;
 }
 
 .example-container {
     width: 100%;
     height: 620px;
 }
 
 .example-sidenav-content {
     display: flex;
     height: 15%;
     align-items: center;
     justify-content: center;
 }
 
 .example-sidenav {
     padding: 20px;
 }
 
 .header {
     width: 100%;
     height: 50px;
     background-color: hotpink;
     color: black;
     display: flex;
 }
 
 .example-sidenav {
     padding: 20px;
 }
 
 .father {
     display: flex;
     width: 100%;
 }
 
 .menu {
     width: 30%;
 }
 
 .content {
     width: 50%;
 }