<div class="box-login">
    <h1>Sign Up</h1>
    <form action="">
        <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Ex. Daniel">
        </mat-form-field>
    </form>

    <form action="">
        <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Ex. Daniel">
        </mat-form-field>
    </form>

    <form action="">
        <mat-form-field class="example-full-width">
            <mat-label>E-Mail or Phone Number</mat-label>
            <input matInput placeholder="Ex. Daniel">
        </mat-form-field>
    </form>

    <form [formGroup]="signin">
        <mat-form-field>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!-- <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint> -->
        </mat-form-field>
    </form>

    <mat-form-field appearance="fill">
        <mat-label>Birthday</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
            <mat-option value="one">Male</mat-option>
            <mat-option value="two">Female</mat-option>
            <mat-option value="three">Other</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button mat-button color="primary">Sign Up</button>

</div>