<app-header></app-header>


<div class="father">
    <div class="menu">
        <img src="" alt="">
        <p>Usuario</p>
        <a mat-button color="primary">Graficas</a>
        <br>
        <a mat-button color="primary" [routerLink]="['/principal']">Clientes</a>
    </div>


    <div class="content">
        <div>
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
        </div>

    </div>